.form-wrapper {
  position: relative;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  overflow-y: auto;
  width: 100%;
}

.form-container {
  position: absolute;
  top: 4rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000001a;
  padding: 40px;
  width: 45%;
}

.btn-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  background-color: #f84464;
  transition: transform 0.3s ease-in-out;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn-container {
  display: inline-block;
  justify-content: center;
  border: 0.1rem solid #f84464;
  margin-bottom: 0.6rem;
  border-radius: 0.35rem;
}

.btn-container button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: rgb(66, 64, 64);
  padding: 0.6rem 1.2rem;
  font-size: large;
  border-radius: 0.2rem;
  cursor: pointer;
}
.form-container button.active {
  background-color: #f84464;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
  .form-container {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .form-container {
    width: 80%;
  }
}
