.create-content-wrapper {
    margin: 1rem;
    width: 100%;
    max-width: 600px;
  }
  
  .create-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .content-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .content-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .content-option img {
    width: 25px;
    height: 25px;
  }
  
  .post-blog, .show-form {
    padding: 0.7rem;
    border: none;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: rgb(126, 124, 124);
  }
  
  .post-blog:hover, .show-form:hover {
    background-color: #f84464;
    color: #fff;
  }
  
  .blog-form {
    box-shadow: 0 2px 5px #0000001a;
    padding: 0.7rem;
  }
  
  .blog-form input[type="text"] {
    width: 85%;
    height: 1.4rem;
    margin-top: 0.7rem;
    padding: 0.4rem;
    font-size: medium;
  }
  
  .cross-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .cross-icon:hover {
    background-color: #f6f3f3;
    border-radius: 10%;
  }
  